
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #060606;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
  line-height: 1.15;
  background: #4F68CF;
  background: -webkit-linear-gradient(to right, #4F68CF 0%, #CF1986 100%);
  background: -moz-linear-gradient(to right, #4F68CF 0%, #CF1986 100%);
  background: linear-gradient(to right, #4F68CF 0%, #CF1986 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}